hairyhenderson.ca *.hairyhenderson.ca
tls off

gzip
minify

markdown / {
  template blog blog.html
}

git github.com/hairyhenderson/hairyhenderson.ca {
  path ../site/
  then cp index.md blog.html footer.html /srv/
	hook /webhook
}
